.calculator {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 300px;
  border: 3px solid rgb(16, 27, 121);
}

.calculator__output {
  flex-basis: 100%;
  flex-grow: 1;
  background-color: rgb(2, 196, 255);
  font-size: 40px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  outline: 0px;
  border: 1px solid white;
  width: 100%;
}

.calculator__input {
  flex-basis: calc(100% / 3);
  background-color: rgb(3, 67, 141);
  color: white;
  font-size: 30px;
  padding: 0;
}
.calculator__input:hover {
  background-color: cornflowerblue;
}
